.btn {
  display: block;
  padding: 15px 20px;
  text-align: center;

  color: $color-default-black;
  font-weight: 600;

  background-color: $color-default-white;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
